body{
    font-family: Arial;
    text-align:center;
    }
    
    .container{
    display:flex;
    gap:20px;
    padding:20px;
    }
    
    .pdf{
    width:60%;
    }
    
    .omr{
    width:40%;
    height:600px;
    overflow:auto;
    border:1px solid gray;
    padding:10px;
    }
    
    .question{
    margin-bottom:10px;
    }
    
    .timer{
    font-size:20px;
    margin:20px;
    }